<html>
<body>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(document).ready(function(){

     $("#addFriend").click(function () {
            $(this).text("Friend Request Sent");
        });

});
</script>
{% extends "base.html" %}
{% block title %}{{ username }}{% endblock %}


{% block head %}Tweets for {{ username }}{% endblock %}
{% block content %}
    {% if flag %}
        <a href="/twitter/unfriend/{{username }}/"><button id="unfriend">Unfriend</button></a>
        {% else %}
        <a href="/twitter/add_friend/{{ username }}/"><button id="addFriend">Send Friend Request</button></a>
    {% endif %}
{% if tweets %}
<ul>
{% for tweet in tweets %}
<li>
{{ tweet.tweet }}</li><p></p>
{% endfor %}
</ul>
{% else %}
<p>No tweets found.</p>
{% endif %}
{% endblock %}

</body>
</html>